.row {
    width: 992px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}


/* BLOCCO LEZIONI */

#lezioni .row>.left,
#lezioni .row>.right {
    width: 50%;
    float: left;
}

#lezioni .row img {
    /* per centrare orizzontalmente */
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#lezioni {
    text-align: center;
}


/* BLOCCO STEPS */

#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
    float: left;
    width: 33%;
}

#steps {
    text-align: center;
}


/* BLOCCO PERCHE */

#why {
    text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
    width: 100%;
    margin-top: 80px;
}

#why .row img {
    background-color: #428bca;
    border-radius: 50%;
    padding: 30px
}


/* COMMON */

.row::after {
    content: '';
    display: table;
    clear: both;
}

.container.grey {
    background-color: #f9f9f9;
}

img {
    height: 200px;
}

.clear {
    clear: both;
}

@media screen and (max-width: 1024px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 1.1rem;
    }
    h1 {
        font-size: 2.6rem;
    }
    h3 {
        font-size: 1.7rem;
    }
    img {
        height: 180px;
    }
    .row {
        width: 95%;
        margin: auto;
    }
    /* BLOCCO LEZIONI */
    #lezioni {
        display: flex;
        background-color: #ffffff;
        padding-top: 5px;
    }
    #lezioni .row>.left,
    #lezioni .row>.right {
        width: 100%;
        margin: 20px 0 10px;
    }
    /* BLOCCO STEPS */
    #steps {
        padding-bottom: 20px;
        margin-top: 10px;
        background-color: lightgrey;
    }
    #steps img {
        height: 140px;
    }
    #steps .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    #steps .row>h1 {
        width: 100%;
        margin-top: 20px;
    }
    #steps .row>.left,
    #steps .row>.central {
        width: calc(100% / 2 - 10px);
        margin: 20px 0 10px;
    }
    #steps .row>.right {
        width: 80%;
        margin: 20px 0 10px;
    }
    /* BLOCCO PERCHE */
    #why {
        display: flex;
        background-color: #ffffff;
        padding-top: 10px;
    }
    #why .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    #why .row>h1 {
        width: 100%;
        margin-top: 20px;
    }
    #why .row>.first,
    #why .row>.second {
        width: calc(100% / 2 - 10px);
        margin: 20px 0 10px;
    }
    #why .row>.third {
        width: 80%;
        margin: 20px 0 30px;
    }
    #why hr {
        border-color: transparent;
    }
}

@media screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 1.1rem;
    }
    h1 {
        font-size: 2.6rem;
    }
    h3 {
        font-size: 1.7rem;
    }
    img {
        height: 180px;
    }
    .row {
        width: 95%;
        margin: auto;
    }
    /* BLOCCO LEZIONI */
    #lezioni {
        display: flex;
        background-color: #ffffff;
        padding-top: 5px;
    }
    #lezioni .row>.left,
    #lezioni .row>.right {
        width: 100%;
        margin: 20px 0 10px;
    }
    /* BLOCCO STEPS */
    #steps {
        padding-bottom: 20px;
        margin-top: 10px;
        background-color: lightgrey;
    }
    #steps img {
        height: 140px;
    }
    #steps .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    #steps .row>h1 {
        width: 100%;
        margin-top: 20px;
    }
    #steps .row>.left,
    #steps .row>.central {
        width: calc(100% / 2 - 10px);
        margin: 20px 0 10px;
    }
    #steps .row>.right {
        width: 100%;
        margin: 20px 0 10px;
    }
    /* BLOCCO PERCHE */
    #why {
        display: flex;
        background-color: #ffffff;
        padding-top: 10px;
    }
    #why h1 {
        margin-top: 20px;
    }
    #why .row>.first,
    #why .row>.second,
    #why .row>.third {
        width: 100%;
        margin: 20px 0 10px;
    }
    #why hr {
        border-color: #808080;
    }
}

@media screen and (max-width: 420px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 0.86rem;
    }
    h1 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    img {
        height: 145px;
    }
    .row {
        width: 95%;
        margin: auto;
    }
    /* BLOCCO LEZIONI */
    #lezioni {
        display: flex;
        min-width: 320px;
        background-color: #f2f2cd;
        padding-top: 5px;
    }
    #lezioni .row>.left,
    #lezioni .row>.right {
        width: 100%;
        margin: 20px 0 10px;
    }
    /* BLOCCO STEPS */
    #steps {
        display: flex;
        margin-top: 10px;
        min-width: 320px;
        background-color: #ffffff;
    }
    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
        width: 100%;
        margin: 20px 0 10px;
    }
    /* BLOCCO PERCHE */
    #why {
        display: flex;
        min-width: 320px;
        background-color: #f2f2cd;
        padding-top: 10px;
    }
    #why .row>.first,
    #why .row>.second,
    #why .row>.third {
        width: 100%;
        margin: 20px 0 10px;
    }
    #why hr {
        border-color: #808080;
    }
}